<!DOCTYPE html>
<html lang="en" xmlns:th="">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>초단기실황조회</h1>
    <hr/>
    <th:block th:each="item:${list}">
        발표일자 : <span th:text="${item.baseDate}"></span> <br/>
        baseTime : <span th:text="${item.baseTime}"></span> <br/>
        자료구분코드 : <span th:text="${item.category}"></span> <br/>
        예보지점 X 좌표 : <span th:text="${item.nx}"></span> <br/>
        예보지점 Y 좌표 : <span th:text="${item.ny}"></span> <br/>
        실황 값 : <span th:text="${item.obsrValue}"></span>
        <hr/>
    </th:block>

</body>
</html>